.App {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  text-shadow: 0.5px 0.5px 2px grey;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  background-attachment: fixed;
  
}
.container-sm {
  border: 1px solid black;

}
p {
  font-size: 1.3vw;
}

.weather img {
  width: 40%;
  margin: 3% 3%;
}
.city {
  margin: 3% 0 0 0;
  text-shadow: 2px 2px 2px rgb(243, 213, 41);
  font-size: 4vw;
}
.country {
  font-size: 2vw;
}
h2 {
  font-size: 1.8vw;
  text-shadow: 2px 2px 2px rgb(243, 213, 41);
}
form {
  max-width: 100%;
  font-size: 1.3vw;
  text-align: center;
}
.tempConverter {
  text-align: center;
  font-size: 3vw;
  margin: 2% 0 2% 15%;
} 
.tempConverter img{
  width: 10%;
}  
.tempConverter a:hover {
  text-decoration: none;

}
.Search {
  text-align: center;
  margin: 3% 1%;
} 
.Searchbar {
  margin: 2% 0.5%;
  border-radius: 10px;
  padding: 0.5% 2%;
}
.Searchbutton {
  margin: 2% 0.5%;
  border-radius: 10px;
  padding: 0.5% 2%;
}

.condition {
  text-align: left;
  font-size: 1.2 vw;
  margin: 0% 0% 0% 25%;
}
.condition img {
  width: 10%;
  margin: 1% 1%;

}  
.HourForecast {
  text-align: center;
  font-size: 1.2vw;
}
.HourForecast img {
  width: 25%;
  margin: 2% 1% ;
}
.DayForecast {
  font-size: 1.5vw;
}

.DayForecast img {
  width: 20%;
  margin: 1% 1%;
}

.footer {
  text-align: center;
}

.icon {
  animation: shake infinite 5s linear;
  border-radius: 50%;
  box-shadow: 4px 4px 6px grey;
}

.icon:hover {
animation: none;
}

@keyframes shake {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-10deg);}
  50% {transform: rotate(0deg);}
  75% {transform: rotate(10deg);}
  100% {transform: rotate(0deg);}
}